html, body, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 18px;
    overflow: hidden;
    touch-action: none;
}

.github-link {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #aaa;
    mix-blend-mode: difference;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.7em 1em;
    font-size: 0.8em;
}

.tp-dfwv {
  width: 320px !important;
  font-size: 0.9em;
}

#audio-toggle {
    position: absolute;
    font-size: 2em;
    background: rgba(0, 0, 10, 0);
    border: none;
    bottom: .4em;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: min(80vw, 9em);
    height: 1.4em;
    -webkit-tap-highlight-color: transparent;
}

#audio-toggle:focus {
    outline: none;
    box-shadow: none;
}